<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input name="nom" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input name="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input name="motDePasse" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full">Envoyer</ion-button>
</ion-content>
